//- #House

style
  include ../css/house.css


//- /* mixin data(id)
//-   .dataWrap
//-     .dataCell(class=id)
//- 
//- mixin room_info
//-   .dataWrap
//-     .dataCell.NW
//-       .verticalCenter
//-         .name
//-         .number
//- 
//- mixin temperature
//-   .dataWrap
//-     .dataCell.C
//-       .verticalCenter
//-         .temperature
//-         .unit
//- 
//- mixin weather
//-   .weatherWrap.bottomrow
//-     .dataCell
//-       .verticalCenter
//-         .weather
//-           img
//- 
//- mixin schaaf
//-   .schaafWrap.block2x2
//-     img.schaaf
//- 
//- mixin mowermode
//-   .modeWrap
//-     img.mowermode
//- 
//- 
//- mixin motion
//-   .dataWrap
//-     .dataCell
//-       .verticalCenter
//-         .motion
//- 
//- mixin room_old(id)
//-   .roomWrap(id=id)
//-     .room
//-       .dataGrid
//-         +room_info
//-         +data("N")
//-         +data("NE")
//-         +data("W")
//-         +temperature
//-         +data("E")
//-         +motion
//-         +data("S")
//-         +data("SE")
//- 
//- mixin room(id)
//-   .roomWrap(id=id)
//-     .room
//-       .dataGrid
//-         +room_info
//-         +data("N")
//-         +data("NE")
//-         +data("W")
//-         +temperature
//-         +data("E")
//-         +motion
//-         +data("S")
//-         +data("SE")
//- 
//- mixin outdoor(id)
//-   .roomWrap(id=id)
//-     .room
//-       .dataGrid
//-         +room_info
//-         +data("N")
//-         +data("NE")
//-         +data("W")
//-         +temperature
//-         +data("E")
//-         +weather
//- 
//- mixin mower(id)
//-   .roomWrap(id=id)
//-     .room
//-       .dataGrid
//-         +room_info
//-         +data("N")
//-         +mowermode
//-         +schaaf
//-         .dataWrap
//-           .dataCell
//-             .verticalCenter
//-               .hours.small
//-               .charge.small
//-         .dataWrap
//-           .dataCell
//-             .verticalCenter
//-               .duration.tiny
//-  */

svg(id="house" viewBox="0 -1 12 7" stroke="black" fill="none")
  include icon/castle
  include icon/compass
  
